/* custom propriets */
:root {
    --color-scondary: #ffffff;
    --color-primary: #23272a;
    --color-header-bg: #255ee9;
    --color-section-bg: #f6f6f6;
    --color-contrast: #7289DA;
}

/* general */
body {
    font-family: 'Noto Sans', sans-serif;
    color: var(--color-primary);
    font-size: 1rem;
}

a {
    color: var(--color-scondary);
    text-decoration: none;
    cursor: pointer;
}

a:not(.btn):hover {
    text-decoration: underline;
}

/* Font-size */
h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 1.25rem;
}

.right p {
    line-height: 1.5;
}

/* Button */
.btn {
    display: inline-block;
    padding: 10px 18px;
    border-radius: 25px;
    background-color: var(--color-scondary);
    color: var(--color-primary);
}

.btn-small {
    padding: 8px 12px;
    font-size: 0.9rem;
    font-weight: 500;
}

.btn-contrast {
    background-color: var(--color-contrast);
    color: var(--color-scondary);
}

.btn-dark {
    background-color: var(--color-primary);
    color: var(--color-scondary);
}

/* Header */
header {
    background-color: var(--color-header-bg);
}

.hero {
    min-height: 535px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    color: var(--color-scondary);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-small p {
    font-size: 1.18rem;
    line-height: 1.7;
}

/* Main */
.section-bg {
    background-color: var(--color-section-bg);
}

.left {
    width: 60%;
}

.right {
    width: 40%;
}

/* Wawe */
.wave {
    height: 120px;
    background-image: Url(../img/wave.svg);
    filter: opacity(0.04);
}

.wave-reverse {
    transform: scaleY(-1);
}

/* Tecnology
#technology.container h2 {
    font-size: 1.2rem;
    color: red;
} */
/* Call to action */
#call-to-action {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-position: center 30%;
}

#call-to-action .container-small h3 {
    font-size: 1.6rem;
    font-weight: 700;
}

/* Footer */
footer {
    background-color: var(--color-primary);
    color: var(--color-scondary);
}

ul.social-links {
    display: flex;
    font-size: 1.3rem;
}

.social-links li {
    justify-content: space-between;
    width: 100%;
}

.footer-bottom {
    border-top: 1px solid var(--color-contrast);
}

.footer-info {
    width: calc(100%/5);
}

.footer-info span:before {
    content: '';
    margin-left: 3px;
}

.footer-info img {
    width: 20px;
}

footer ul li:first-child {
    color: var(--color-contrast);
    font-weight: 700;
}

footer h3 {
    font-size: 2rem;
    color: var(--color-contrast);
}